{% extends 'base.html' %}


{% block title %} {{ title }} {% endblock title %}

{% block content %}

<h1 class="text-primary text-center">  {{ title }}</h1>

  <div class="container">
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header"> {{ title }}</div>
            <div class="card-body">
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="{% url 'list' %}" class="btn btn-warning">Employees</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </form>
  </div>


{% endblock content %}