{% extends 'base.html' %}

<!-- {% load static %} -->

{% block title %} {{ title }} {% endblock title %}

{% block content %}
  <h1>
    {{ heading }}
  </h1>

  <div class="container px-5">
      <div class="header">
        <img src="{% static 'images/nice.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="100%" height="500" loading="lazy">

      </div>
      <div class="bg-secondary border rounded-3 shadow-lg mb-4 " style="height: 60px;">
        <div class="text-light" >
            Something similar with html and Bootstrap
        </div>
      </div>
  </div>

{% endblock content %}